@import 'bootstrap';

.navbar-brand:hover {
  background-color: #F8F9FA;
  font-weight: 500;
}

a:hover {
  background-color: transparent;
  text-decoration: none;
}

td.td-image {
  width: 120px;
  height: 120px;
  padding-left: 0;
}

.td-description {
  width: 60%;
}

.show-image {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.cover-image {
  width: 50%;
  height: 50%;
}

.error-message-text {
  color: rgba(247, 62, 62, .9);
}

.field_with_errors {
  background-color: rgba(247, 62, 62, .5);
  display: block;
}
